<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-brand">Marta
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <% link_to Rails.application.class.parent_name, root_url, :class => "navbar-brand" %>
  </div>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav">
      <li>
        <%= link_to "Locations", locations_url %>
      </li>
    </ul>
  </div>
</nav>
<p id="notice"><%= notice %></p>

<h2>You are currently standing at...</h2>
<p>
    <%= @location.my_location%>
</p>
<h2>The closest bus is...</h2>
<% if @bus_count > 1 %>
<% @nearby_bus.each_with_index do |bus, index| %>
<p>
    <strong>Route:</strong><%= bus["ROUTE"]%> <br>
    <strong>Vehicle:</strong><%= bus["VEHICLE"]%><br>
    <strong>Next Stop:</strong><%= bus["TIMEPOINT"]%>
</p>

<script>
      var map;
      function initMap() {
        var myCoords= { lat: <%=@location.latitude %>, lng: <%= @location.longitude %>};
        var busCoords = { lat: <%=bus['LATITUDE']%>, lng: <%= bus['LONGITUDE'] %>};

        map = new google.maps.Map(document.getElementById('map-canvas<%=index %>'), {
          center: myCoords,
          zoom: 13
        });
        var markerBus = new google.maps.Marker({
            position: busCoords,
            map: map
          });


          var infowindow = new google.maps.InfoWindow({
              content: "Your bus is here"
            });  


          markerBus.addListener('click', function () {
                infowindow.open(map, markerBus);
              });  

      }

      google.maps.event.addDomListener(window,'load',initMap);
    </script>
      <div id="map-canvas<%=index%>" style="height:300px; width: 300px;"></div>
      <% end %>
    <% else %>
    <p> .. sorry there is no buss near you. Call an Uber </p>
    <% end %>
<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>