<p id="notice"><%= notice %></p>

<h2>You are currently standing at...</h2>
<p>
    <%= @location.my_location%>
</p>
<h2>The closest bus is...</h2>
<% if @bus_count > 1 %>
<% @nearby_bus.each_with_index do |bus, index| %>
<p>
    <strong>Route:</strong><%= bus["ROUTE"]%> <br>
    <strong>Vehicle:</strong><%= bus["VEHICLE"]%><br>
    <strong>Next Stop:</strong><%= bus["TIMEPOINT"]%>
</p>

<script>
      var map;
      function initMap() {
        var myCoords= { lat: <%=@location.latitude %>, lng: <%= @location.longitude %>};
        var busCoords = { lat: <%=bus['LATITUDE']%>, lng: <%= bus['LONGITUDE'] %>};

        map = new google.maps.Map(document.getElementById('map-canvas<%=index %>'), {
          center: myCoords,
          zoom: 13
        });
        var markerBus = new google.maps.Marker({
            position: busCoords,
            map: map
          });


          var infowindow = new google.maps.InfoWindow({
              content: "Your bus is here"
            });  


          markerBus.addListener('click', function () {
                infowindow.open(map, markerBus);
              });  

      }

      google.maps.event.addDomListener(window,'load',initMap);
    </script>
      <div id="map-canvas<%=index%>" style="height:300px; width: 300px;"></div>
      <% end %>
    <% else %>
    <p> .. sorry there is no buss near you. Call an Uber </p>
    <% end %>
<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>