<!DOCTYPE html>
<html>

<head>
    <title>Marta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=#{Figaro.env.google_map_api_key}' %>
</head>

<body>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= Figaro.env.google_map_api_key%>"></script>
    
    <%= yield %>
</body>

</html>